# Lecture 04: Python Data Structure

#### List Manipulation:
- Change list elements
- Add list elements
- Remove list elements

In [20]:
family = [ "abbu" ,5.6,"ammu", 5.2, "vaia",6.0]

In [21]:
print(type(family))

<class 'list'>

#### List Slicing

In [22]:
family[0:2]

['abbu', 5.6]

#### Checking length of a string

In [23]:
len(family)

6

#### Checking the presence of an element in a list

In [24]:
print("abbu" in family)

True

#### Insert a new element in the list

In [25]:
family.append("chotovai")
family.append(6.2)
print(family)

['abbu', 5.6, 'ammu', 5.2, 'vaia', 6.0, 'chotovai', 6.2]

#### How to reverse a list?

In [26]:
family.reverse()
print(family)

[6.2, 'chotovai', 6.0, 'vaia', 5.2, 'ammu', 5.6, 'abbu']

In [27]:
even=[2,6,8,6,4,6,8]

#### How to count the frequency of a specific element in a list?

In [28]:
even.count(6)

3

#### How to remove an element from a list?

In [29]:
even.remove(8)
even.remove(8)
print(even)

[2, 6, 6, 4, 6]

#### How to find the minimum value, maximum value and total sum of a list?

In [30]:

print(sum(even))
print(max(even))

24
6

#### What will happen if you add two lists?

In [31]:
A = [9, 8, 7, 6]
B = [99, 88, 77, 66]
print("A + B = ", A + B) #will contain all the element of A and B

A + B =  [9, 8, 7, 6, 99, 88, 77, 66]

#### How to sort a list?

In [32]:
even=[2,6,8,6,4,6,8]
print(sorted(even, reverse=True,)) #descending 
print(sorted(even, reverse=False,)) #ascending default

[8, 8, 6, 6, 6, 4, 2]
[2, 4, 6, 6, 6, 8, 8]

# Tuple
- tuple is used with parentheses
- tuple is immutable --> most important

In [33]:
movie_name=("the","fault", "in", "our", "stars",0)
print(type(movie_name))

<class 'tuple'>

#### Tuple slicing

In [34]:
print(movie_name[-1])
print(movie_name[:2])

0
('the', 'fault')

#### Immutability

In [35]:
T = (8, 9, 'absolute', [1, 2])
# T[0] = 2 #will throw an error

You cannot change any value inside a tuple and you cannot insert or delete as well

#### Similarities in List and Tuple:
- The two data structures are both sequence data types that store collections of items.
- Items of any data type can be stored in them.
- Items can be accessed by their index.

#### Difference between List and Tuple:
- List is mutable, whereas a tuple is immutable. This means that lists can be changed, and tuples cannot be changed.

#### Set
- It works with a curly brace--> {}
- One item can appear only once
- You cannot slice item from set, unlike lists or tuples

In [36]:
set_A={1,2,3,45,6}
set_B={4,5,6,7,8,9}

set_c=set_A.union(set_B)
set_D=set_A.intersection(set_B)
set_E=set_A.difference(set_B)
print(set_c)
print(set_D)
print(set_E)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 45}
{6}
{1, 2, 3, 45}

#### Dictionary

In [37]:
phone_contacts = {"abul":1111, "babul":2222, "cabul":3333, "dabul":4444}

print(phone_contacts)
print(phone_contacts["abul"])
print(phone_contacts["babul"])
print(phone_contacts["cabul"])
print(phone_contacts["dabul"])

print(phone_contacts.keys())
print(phone_contacts.values())
# print(phone_contacts.items())

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': 4444}
1111
2222
3333
4444
dict_keys(['abul', 'babul', 'cabul', 'dabul'])
dict_values([1111, 2222, 3333, 4444])

In [38]:
# adding a new phone number of the existing contact
phone_contacts["dabul"] = [4444,5555]
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555]}

In [39]:
# adding a new contact
phone_contacts["fabul"] = 6666
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666}

In [40]:
# updating a dictionary
new_dict = {"gabul":7777}
phone_contacts.update(new_dict)
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666, 'gabul': 7777}

In [41]:
# removing a contact from the phonebook
del phone_contacts["gabul"]
print(phone_contacts)

{'abul': 1111, 'babul': 2222, 'cabul': 3333, 'dabul': [4444, 5555], 'fabul': 6666}

#### Summary
- List - indexed storage
- Dictionary - Logical Association storage
- Tuple - Memory optimized and Secure data storage
- Set - unindexed data storage, widely useful for removing redundancy and mathematics ops