In [3]:
# pip install pandas
import pandas as pd

In [4]:
# reading a csv file as dataframe
# dataset source: datacamp
df = pd.read_csv("telecom_data.csv")

In [5]:
display(df.head())

,Account_Length,Vmail_Message,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,Total_mins,Total_calls,Total_charges
0,128,25,1,no,no,yes,717.2,303,320.26
1,107,26,1,no,no,yes,625.2,332,313.64
2,137,0,0,no,no,no,539.4,333,224.89
3,84,0,2,no,yes,no,564.8,255,263.70
4,75,0,3,no,yes,no,512.0,359,238.99

In [6]:
display(df.tail())

,Account_Length,Vmail_Message,CustServ_Calls,Churn,Intl_Plan,Vmail_Plan,Total_mins,Total_calls,Total_charges
3328,192,36,2,no,no,yes,660.7,292,339.20
3329,68,0,3,no,no,no,585.4,239,254.83
3330,28,0,2,no,no,no,675.6,264,259.64
3331,184,0,2,no,yes,no,517.6,336,196.73
3332,74,25,0,no,no,yes,755.4,276,318.41

In [7]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [8]:
print(df.shape)

print("number of rows = ", df.shape[0])
print("number of columns = ", df.shape[1])

(3333, 9)
number of rows =  3333
number of columns =  9

check the column types and look for missing values

In [9]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Account_Length  3333 non-null   int64
 1   Vmail_Message   3333 non-null   int64
 2   CustServ_Calls  3333 non-null   int64
 3   Churn           3333 non-null   object
 4   Intl_Plan       3333 non-null   object
 5   Vmail_Plan      3333 non-null   object
 6   Total_mins      3333 non-null   float64
 7   Total_calls     3333 non-null   int64
 8   Total_charges   3333 non-null   float64
dtypes: float64(2), int64(4), object(3)
memory usage: 234.5+ KB
None

Number of unique values in each column

In [10]:
df["Churn"].value_counts()

no     2850
yes     483
Name: Churn, dtype: int64

In [11]:
df["Intl_Plan"].value_counts()

no     3010
yes     323
Name: Intl_Plan, dtype: int64

In [12]:
df["Vmail_Plan"].value_counts()

no     2411
yes     922
Name: Vmail_Plan, dtype: int64

In [13]:
df["Account_Length"].value_counts()

105    43
87     42
101    40
93     40
90     39
       ..
200     1
188     1
26      1
8       1
243     1
Name: Account_Length, Length: 212, dtype: int64

In [14]:
len(df["Account_Length"].unique())

212

Data Statistics

In [15]:
display(df.describe())

,Account_Length,Vmail_Message,CustServ_Calls,Total_mins,Total_calls,Total_charges
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,8.099010,1.562856,591.864776,305.137114,260.321791
std,39.822106,13.688365,1.315491,89.954251,34.448164,53.810896
min,1.000000,0.000000,0.000000,284.300000,191.000000,68.370000
25%,74.000000,0.000000,1.000000,531.500000,282.000000,224.220000
50%,101.000000,0.000000,1.000000,593.600000,305.000000,260.560000
75%,127.000000,20.000000,2.000000,652.400000,328.000000,295.410000
max,243.000000,51.000000,9.000000,885.000000,416.000000,460.630000

In [16]:
df.describe(include=['O'])

       Churn Intl_Plan Vmail_Plan
count   3333      3333       3333
unique     2         2          2
top       no        no         no
freq    2850      3010       2411