# Lecture 03: Python Data Types and String Manipulation

**str** : string, text
<br>**int** : inetger numbers
<br>**float** : real numbers, decimal values
<br>**bool** : True, False

In [7]:
name = "Ronaldo"
print("my favorite player is" , name)

print (type(name))

my favorite player is Ronaldo
<class 'str'>

#### Mathematical Operations

In [8]:
a=9
b=3

#addition
print("a+b=", a+b)

#power
print("a^b=", a**b)

#vagshesh %
#vaagfol
print ("a/b=",a//b)

a+b= 12
a^b= 729
a/b= 3

#### Comparison Operators

In [9]:
c=52
d=53

print("c>d=" ,c>d)
print("c<d=" ,c<d)
print("c!=d=" ,c!=d)

c>d= False
c<d= True
c!=d= True

#### Logical operators

In [10]:
#and , or

print(True and True)
print(True and False)
print(False and True)

print(True or True)
print(True or False)
print(not False and False)

True
False
False
True
True
False

#### Membership operators

In [11]:
a= 'abul'
b='babul'

print (a in b)
print (b in a)

True
False

#### String Manipulation
- How to capitalize the first character of a string?

In [12]:
name = "ronaldo"

name_first_capital=name.capitalize()
name_all_capital= name.upper()
print(name_all_capital)
print(name_first_capital)

RONALDO
Ronaldo

- How to find the frequency of the substring in a string?

In [13]:
name_count=name.count('o')
print(name_count)

2


- How to find if a string starts or ends with a specific substring?

In [14]:
name='Ronaldo'
print(name.startswith("R"))
print(name.endswith("k"))

True
False


- How to find the index of a specific character in a string?

In [15]:
text = "Happy New Year"

print(text.find("p"))
print(text.index("a"))

2
1


- How to convert a string into lower case and upper case characters?

In [16]:
name = "ShakibAlHasan"

print(name.lower())
print(name.upper())

print("electrical engineering" == "Electrical Engineering".lower())
print("electrical engineering ".rstrip() == "Electrical Engineering".lower())
print("   electrical engineering".lstrip() == "Electrical Engineering".lower())

shakibalhasan
SHAKIBALHASAN
True
True
True


- How to replace a substring inside a string?

In [17]:
text = "Electrical Enginering"

print(text.replace("Enginering", "Engineering"))

Electrical Engineering

- How to find the presence of an alphanumeric character, alphabet or digit?

In [18]:
name = "shakibalhasan"

print(name.isalnum())
print(name.isdigit())
print(name.isalpha())
print(name.isupper())
print(name.islower())

True
False
True
False
True

#### String slicing

In [19]:
var = "I love Bangladesh"

print(var)
print(var[0])
print(var[2:6])
print(len(var))
print(var[7:])

I love Bangladesh
I
love
17
Bangladesh